<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.shopping.musinsa.ProductMapper">
	
	<insert id="insert">
		insert into ${product} 
		(${productNumber}, ${productName}, ${productPrice}, ${productInformation}, ${productSize}, ${productImg}, ${productGood}, ${productGrade}, ${productCategory})
		values (#{productNumber}, #{productName}, #{productPrice}, #{productInformation}, #{productSize}, #{productImg}, #{productGood}, #{productGrade}, #{productCategory})
	</insert>

	<select id="select_all" resultType="ProductVO">
		select * from ${product} order by ${productNumber}
	</select>
	
	<select id="paging" resultType="ProductVO">
		select b.${productNumber}, b.${productName}, b.${productPrice}, b.${productInformation}, b.${productSize}, b.${productImg}, b.${productGood}, b.${productGrade}, b.${productDateRegister}, b.${productCategory}  from(
          select rownum rn, a.* from(
             select * from ${product} order by ${productNumber} desc
          )a
       )b where rn between #{start} and #{end}
	</select>
	
	<select id="total_count" resultType="Integer">
		select count(*) total_cnt from ${product}
	</select>
	
	<select id="select_by_product_number" resultType="ProductVO">
		select * from ${product} where ${productNumber} = #{productNumber}
	</select>
	
	<update id="update">
		update ${product}
		set ${productName} = #{productName}, ${productPrice} = #{productPrice}, ${productInformation} = #{productInformation}, ${productSize} = #{productSize}, ${productImg} = #{productImg}, ${productCategory} = #{productCategory}
		where ${productNumber} = #{productNumber}
	</update>
	
	<delete id="delete">
		delete from ${product}
		where ${productNumber} = #{productNumber}
	</delete>
	
	<update id="update_product_good">
	update ${product}
	set ${productGood} = ${productGood} + #{amount}
	where ${productNumber} = #{productNumber}
	
	</update>


</mapper>