<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- DB 테이블과 컬럼들을 mapper 매핑을 위한 변수 선언-->
	<properties>
		<!-- 
		* property
		- name : mapper.xml에서 사용될 이름
		- value : DB 테이블 및 컬럼 이름
		
		
		 -->
		
		 <property name="product" value="product"/> 
		 <property name="productNumber" value="product_number"/>
		 <property name="productName" value="product_name"/>
		 <property name="productPrice" value="product_price"/>
		 <property name="productInformation" value="product_information"/>
		 <property name="productSize" value="product_size"/>
		 <property name="productImg" value="product_img"/>
		 <property name="productGood" value="product_good"/>
		 <property name="productGrade" value="product_grade"/>
		 <property name="productDateRegister" value="product_date_register"/>
		 <property name="productCategory" value="product_category"/>
		 
		 <property name="productLike" value="product_like"/> 
		 <property name="likeNumber" value="like_number"/> 
		 <property name="userId" value="user_id"/> 
		 
		 <property name="cart" value="cart"/>
		 <property name="cartNumber" value="cart_number"/>
		 <property name="cartAmount" value="cart_amount"/>
		 <property name="cartSize" value="cart_size"/>
		 
		 <property name="payment" value="payment"/>
		 <property name="paymentNumber" value="payment_number"/>
		 <property name="paymentPrice" value="payment_price"/>
		 <property name="paymentAmount" value="payment_amount"/>
		 <property name="paymentDateCreated" value="payment_date_created"/>
		 <property name="paymentProductSize" value="payment_product_size"/>
		 <property name="paymentState" value="payment_state"/>

		<property name ="nonUser" value="non_user"/>
		 <property name ="userId" value="user_id"/>
		 <property name ="nonUserPhone" value="non_user_phone"/>
		 <property name ="nonUserEmail" value="non_user_email"/>
		 <property name ="nonUserAddress" value="non_user_address"/>

		 
		 <!-- HO -->
		<property name="product_question" value="product_question" />
		<property name="productQuestionNumber" value="product_question_number" />
		<property name="userId" value="user_id" />
		<property name="productQuestionWhether" value="product_question_whether" />
		<property name="productQuestionType" value="product_question_type" />
		<property name="productQuestionContent" value="product_question_content" />
		<property name="productQuestionDateCreated" value="product_question_date_created" />
		<property name="productQuestionTitle" value="product_question_title" />
		<property name="productNumber" value="product_number"/>
		  
		 <!-- HO -->
		 <!-- review 테이블 -->
		<property name="review" value="review"/>
		<property name="reviewNumber" value="review_number"/>
		<property name="userId" value="user_id"/>
		<property name="productNumber" value="product_number"/>
		<property name="reviewContent" value="review_content"/>
		<property name="reviewGrade" value="review_grade"/>
		<property name="userAge" value="user_age"/>
		<property name="userGender" value="user_gender"/>
		<property name="reviewDateCreated" value="review_date_created"/>
		<property name="replyCnt" value="reply_cnt"/>
		
		<!-- reply 테이블 -->
		<property name="reply" value="reply"/>
		<property name="replyNumber" value="reply_number"/>
		<property name="reviewNumber" value="review_number"/>
		<property name="replyContent" value="reply_content"/>
		<property name="userId" value="user_id"/>
		<property name="replyDateCreated" value="reply_date_created"/>
		
		<!-- reReply 테이블 -->
		<property name="re_reply" value="re_reply"/>
		<property name="reReplyNumber" value="re_reply_number"/>
		<property name="replyNumber" value="reply_number"/>
		<property name="reviewNumber" value="review_number"/>
		<property name="reReplyContent" value="re_reply_content"/>
		<property name="userId" value="user_id"/>
		<property name="reReplyDate" value="re_reply_date"/>
		 
		 
		 <!-- 희 -->
		 <!-- user_information 테이블 -->
		 <property name ="user_information" value="user_information"/>
		 <property name ="userId" value="user_id"/>
		 <property name ="userPassword" value="user_password"/>
		 <property name ="userName" value="user_name"/>
		 <property name ="userGender" value="user_gender"/>
		 <property name ="userHeight" value="user_height"/>   
		 <property name ="userWeight" value="user_weight"/>
		 <property name ="userAge" value="user_age"/>
		 <property name ="userEmail" value="user_email"/>
		 <property name ="userPhone" value="user_phone"/>
		 <property name ="userAddress01" value="user_address01"/>
		 <property name ="userAddress02" value="user_address02"/>
		 <property name ="userAddress03" value="user_address03"/>
		 <property name ="userAddress04" value="user_address04"/>
		 <property name ="verify" value="verify"/>
		
		<!-- csqnaregister 테이블 -->
		<property name="board" value="board"/>
		<property name="boardNumber" value="board_number"/>
		<property name="userId" value="user_id"/>
		<property name="boardTitle" value="board_title"/>
		<property name="boardContent" value="board_content"/>
		<property name="boardDateCreated" value="board_date_created"/>
		 <!-- 희 -->
		 
		
		 
	<!-- value = DB명 , name = 자바에서 쓸 이름 -->
	</properties>
	
	<!-- underscore 명명법을 camel 명명법으로 변환이 가능하도록 세팅 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- typeAlises : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정 -->
	<typeAliases>
		<package name="project.shopping.musinsa.domain"/>
	</typeAliases>
	



</configuration>